extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="sitio nosotros", class="img-fluid")
            .col-md-7   
                h1 #{pagina}
                blockquote Esse proident consequat duis magna do eu. Deserunt nisi elit do eiusmod pariatur non elit laborum tempor anim duis. Qui culpa et cupidatat sint nulla ut sunt ex amet. Voluptate exercitation occaecat incididunt non dolore consequat et id pariatur.

                p Eiusmod dolor Lorem incididunt ut. Aliqua commodo culpa ipsum excepteur sunt duis commodo labore irure. Ex nisi cillum excepteur elit incididunt velit id magna magna laborum.

                p Occaecat adipisicing aliquip cupidatat aliquip sint do irure qui voluptate ex. Do exercitation ea qui laboris. Est labore ex eiusmod nulla eu duis dolore. Reprehenderit labore magna quis dolor pariatur. Proident labore ullamco irure commodo dolore duis nostrud cillum deserunt est irure. Cillum officia cillum voluptate aliquip magna exercitation excepteur. Adipisicing consequat veniam qui aute occaecat ex ullamco proident eu exercitation dolore.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="public\img\icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")                 
                    h2.mb-4 Seguridad 
                    p Id elit nulla cillum nulla non nulla sunt est deserunt est ad do laborum amet. Laborum officia ipsum ex Lorem exercitation aliqua labore est enim sunt proident sint amet. 
                .col-md-4
                    img(src="public\img\icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")                 
                    h2.mb-4 Mejores Destinos 
                    p Id elit nulla cillum nulla non nulla sunt est deserunt est ad do laborum amet. Laborum officia ipsum ex Lorem exercitation aliqua labore est enim sunt proident sint amet. 
                .col-md-4
                    img(src="public\img\icono_precios.svg", alt="icono precios", class="img-fluid mb-4")                 
                    h2.mb-4 Mejores Precios 
                    p Id elit nulla cillum nulla non nulla sunt est deserunt est ad do laborum amet. Laborum officia ipsum ex Lorem exercitation aliqua labore est enim sunt proident sint amet.     
                





//- <h1>Hola</h1>
//- h1 Hola 
//- p Desde pug
//- h1 Agencia de Viajes 
//- p= viajes
//- p #{viajes}